@import 'tailwindcss';

@theme {
  --color-primary: #087ea4;
  --color-error: #ffce45;
  --color-surfaceTint: #087ea4;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #d6e3ff;
  --color-onPrimaryContainer: #001b3e;
  --color-secondary: #565f71;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #dae2f9;
  --color-onSecondaryContainer: #131c2b;
  --color-tertiary: #705575;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #fad8fd;
  --color-onTertiaryContainer: #28132e;
  --color-error: #ba1a1a;
  --color-onError: #ffffff;
  --color-errorContainer: #ffdad6;
  --color-onErrorContainer: #410002;
  --color-background: #f9f9ff;
  --color-onBackground: #191c20;
  --color-surface: #f9f9ff;
  --color-onSurface: #191c20;
  --color-surfaceVariant: #e0e2ec;
  --color-onSurfaceVariant: #44474e;
  --color-outline: #74777f;
  --color-outlineVariant: #c4c6d0;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #2e3036;
  --color-inverseOnSurface: #f0f0f7;
  --color-inversePrimary: #aac7ff;
  --color-primaryFixed: #d6e3ff;
  --color-onPrimaryFixed: #001b3e;
  --color-primaryFixedDim: #aac7ff;
  --color-onPrimaryFixedVariant: #284777;
  --color-secondaryFixed: #dae2f9;
  --color-onSecondaryFixed: #131c2b;
  --color-secondaryFixedDim: #bec6dc;
  --color-onSecondaryFixedVariant: #3e4759;
  --color-tertiaryFixed: #fad8fd;
  --color-onTertiaryFixed: #28132e;
  --color-tertiaryFixedDim: #ddbce0;
  --color-onTertiaryFixedVariant: #573e5c;
  --color-surfaceDim: #d9d9e0;
  --color-surfaceBright: #f9f9ff;
  --color-surfaceContainerLowest: #ffffff;
  --color-surfaceContainerLow: #f3f3fa;
  --color-surfaceContainer: #ededf4;
  --color-surfaceContainerHigh: #e7e8ee;
  --color-surfaceContainerHighest: #e2e2e9;
}

@layer components {
  .card {
    border-radius: 12px;
    background-color: #ffffff;
    box-sizing: border-box;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }
}
